django
djangorestframework
dj_rest_auth
psycopg2-binary
scikit-learn
tensorflow
numpy
python-decouple
gunicorn
nltk
transformers
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability