body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
    }

    h2 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    #content-container {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }

    #left-content, #right-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        flex-grow: 1;
        margin: 0 10px;
    }

    #chat-container {
        max-height: 500px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    #user-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        bottom: 0;
        background-color: #fff;
        padding: 10px 20px;
    }

    #user-message {
        flex-grow: 1;
        padding: 16px;
        border: 2px solid #007bff;
        border-radius: 16px;
        outline: none;
        width: 100%;
    }

    #send-button, #select-button {
        padding: 16px 32px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
    }

    #send-button:hover, #select-button:hover {
        background-color: #0056b3;
    }

    #bot-response {
        background-color: #007bff;
        color: #fff;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
    }

    .chat-message {
        background-color: #fff;
        color: #333;
        padding: 10px 16px;
        border-radius: 8px;
        margin: 5px 0;
        word-wrap: break-word;
    }